{% extends 'OdiseoAppBundle:Frontend:layout.html.twig' %}

{% block content %}
        <div class="row">
            <div class="fb-page"
                              data-tabs="timeline"
                              data-href="https://www.facebook.com/libreriacristiana.sion.9"
                              data-width="380"
                              data-height="380"
                              data-hide-cover="false">

            </div>
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            {% for image in images %}
                                <li data-target="#carouselBanner" data-slide-to=" {{ loop.index }} " class="{{ (loop.index == 1)? ' active':''}}"></li>
                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for image in images %}
                                <div class="item{{ (loop.index == 1)? ' active':''}}">
                                    <img class="img-responsive" src="{{ asset(image.imageName|imagine_filter('image_filter')) }}" alt="" style="width:100%;">
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Bienvenidos a</small>
                    </h2>
                    <h1 class="brand-name">Librerias Sion</h1>
                    <hr class="tagline-divider">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Nosotros</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="{{ asset('bundles/odiseoapp/images/escrituras-250x150.jpg') }}" alt="">
                    <hr class="visible-xs">
                    <p>Somos una Librería Cristiana, con 10 años de experiencia en el rubro, un emprendimiento familiar.

                        Nuestra visión es poner al alcance de todos, sin distinción de edad, la Palabra de Dios junto con

                        material de estudio, para profundizar en el conocimiento de su persona.</p>
                    <p>&quot;Toda la escritura es inspirada por Dios, y útil para enseñar, para redargüir, para corregir, para

                        instruir en justicia.&quot; 2 Timoteo 3:16.</p>
                </div>
            </div>
        </div>
{% endblock %}